<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
</head>
<body>

<nav>
<ul>
	<li><a class="home" href="{{ home_url|raw }}">{{ home_name }}</a></li>
	<li><a class="tags" href="{{ tags_url|raw }}">{{ tags_name }}</a></li>
</ul>
</nav>
