{% entries %}
<article>
<hr>
<h1><a href="{{ url|raw }}">{{ title }}</a></h1>
<div><small>
	<time datetime="{{ datetime }}">{{ date }}</time>
	{% have_tags %} | Tags:{% tags %} [<a href="{{ url|raw }}">{{ name }}</a>]{% end %}{% end %}
</small></div>
{{ content|raw }}
{% read_more %}<a href="{{ url|raw }}">read more…</a>{% end %}
</article>
{% end %}
